body {
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  background: darken(rgb(61, 53, 107), 10%);
  margin: 50px;
  text-align: center;
}

input {
  height: 1em;
  background-color: darken(rgb(61, 53, 107), 10%);
  font-size: 2rem;
  background-color: white;
}

#root {
  background-color: rgb(169, 163, 175);
  h1 {
    color: darken(rgb(61, 53, 107), 10%);
  }
  input {
    color: whitesmoke;
  }
  ol {
    color: wheat;
  }
}
